.el-button:focus {
    background-color: #FFF;
    border-color: #DCDFE6;
    color: #606266;
  }
  .el-button{
    background-color: #6B7280;
    border-color: #DCDFE6;
    color: #fff
  } 
  .el-button:hover {
    color: #6B7280;
    border-color: #F3F4F6;
    background-color: #9CA3AF;
  }
   
  .el-button:active {
    color: #F9FAFB;
    border-color: #6B7280;
    outline: 0;
  }
  
  .el-button--text:focus {
    background-color: initial;
    border-color: transparent;
    color: #6B7280;
  }
   
  .el-button--text:hover {
    color: #6B7280;
    border-color: transparent;
    background-color: transparent;
  }
   
  .el-button--text:active {
    color: #6B7280;
    border-color: transparent;
    background-color: transparent;
  }
  .el-button--primary:focus {
    background-color: #6B7280;
    border-color: #9CA3AF;
    color: #FFF;
  }
   
  .el-button--primary:hover {
    background: #9CA3AF;
    border-color: #F3F4F6;
    color: #FFF;
  }
   
  .el-button--primary.is-active, .el-button--primary:active {
    background: #6B7280;
    border-color: #6B7280;
    color: #FFF;
  }
//   #F9FAFB
// 100
// #F3F4F6
// 200
// #E5E7EB
// 300
// #D1D5DB
// 400
// #9CA3AF
// 500
// #6B7280
// 600
// #4B5563
// 700
// #374151
// 800
// #1F2937
// 900
// #111827