.el-button:focus {
    background-color: #FFF;
    border-color: #DCDFE6;
    color: #606266;
  }
   
  .el-button:hover {
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
   
  .el-button:active {
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: 0;
  }
  
  .el-button--text:focus {
    background-color: initial;
    border-color: transparent;
    color: #409EFF;
  }
   
  .el-button--text:hover {
    color: #66b1ff;
    border-color: transparent;
    background-color: transparent;
  }
   
  .el-button--text:active {
    color: #3a8ee6;
    border-color: transparent;
    background-color: transparent;
  }
  .el-button--primary:focus {
    background-color: #409EFF;
    border-color: #409EFF;
    color: #FFF;
  }
   
  .el-button--primary:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #FFF;
  }
   
  .el-button--primary.is-active, .el-button--primary:active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #FFF;
  }