html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(134 134 134 / 54%);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}
